
.profile {
   box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 1px rgba(0,0,0,.14), 0px 2px 1px rgba(0,0,0,.2);
    border-radius: 0px 0px 4px 4px;
}
.description {
 
    display: flex;
  align-items: center;
  flex-direction: column;
  
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 40px;

}

.name {
    color: black;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}

.avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;

}
 .stats {
    list-style: none;
  display: flex;
  background-color:#cecece;
  padding-left: 0;
  border: 1px solid rgb(175, 175, 175);
  margin: 0;

 }


 .tag,
 .location {
     color: #a6a6a6;
  font-size: 40px;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 20px;
 }

 .stats li {
    display: flex;
    flex-direction: column;
    width: 222px;
    padding-top: 20px;
  padding-bottom: 20px;
    text-align: center;
    border: 1px solid rgb(137, 137, 137);
 }

 .label {
    color: #373737;
 }

 .quantity {
    font-weight: 600;
 }